@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: #1e1e1e;
  /* font-family: var(--monserat-font); */
}
* {
  transition: .3s;
}
html {
  scroll-behavior:smooth;
}
